.carousel{
    background-image: url(offer-background.jpg);
}
.carousel-item img{
    margin: auto;
}
.menu{
    padding-bottom: 150px;
}
.menu h2{
    text-align: center;
    color: var(--dark);
    font-size: 40px;
    margin-top: 40px;
}
.menu>p{
  text-align: center;
    color: var(--gray);
    margin-top: 20px;
    margin-bottom: 80px;
}
.menu .meals{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     row-gap: 20px;
}
.menu .meals .meal{
    display: flex;
    width: 40%;

}
.menu .meals .meal .price{
    display: flex;
    flex-direction: column;
    padding-left: 10px;

   
}
.menu .meals .meal .des p{
    color: var(--orange);
    font-weight: 700;
}
.menu .meals .meal .price h3{
    border-bottom: 1px dashed var(--gray);
    font-size: 22px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.menu .meals .meal .img-menu img{
    border-radius: 50%;
    width: 100px;
}
.menu a{
    background-color: var(--orange);
    padding: 15px 20px;
    border-radius: 15px;
    align-self: center;
position: relative;
left: 43%;
top: 50px;
transition: all ease 0.3s;
}
.menu a:hover{
    color: var(--orange);
    background-color: azure;
    border: 1px var(--orange) solid;
}
#menu{
    background-color: rgba(206, 206, 164, 0.726);
}
.gallary{
    background-image: url(offer-background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.gallary .gallary-contianer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 0 100px;
    margin-top: 30px;
}

.gallary .gallary-contianer img{ 
     width: 280px;
     height: 180px;
     object-fit: cover;
     border-radius: 10px;

}
.gallary h2{
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    padding: 50px 0;
    font-weight: 500;
}
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    height: 70VH;
}
.contact .detals h2{
color: var(--dark);
margin-bottom: 20px ;
margin-top: 40px;
}
.contact .detals p{
    margin: 10px 0;
    color: var(--gray);
}
.contact .detals .address i{
    color: var(--orange);
    margin-right: 5px;
}
.contact .detals .follow a{
    color: var(--dark);
    font-size: 30px;
}
input ,textarea{
   background-color: rgb(189, 190, 166);
   border: 0;
   width: 400px;
   height: 50px;
   margin: 5px 0;
   margin-left: 200px;
   padding-left: 10PX;
    padding-top: 10PX;
}
textarea{
    margin-bottom: 20px;
}
.contact  form table tr td a{
    background-color: var(--orange);
    padding: 15px 20px;
    border-radius: 15px;
    margin-left: 200px;
    transition: all ease 0.3s;
}
.contact  form table tr td a:hover{
    color: var(--orange);
    border: 1px var(--orange) solid;
    background-color: aliceblue;

}
#contact{
    background-color:rgb(241, 241, 193);
}
ul{
    list-style-type: none;
}
.btn{
    margin-left: 30px;
}